<html>
<head>
    <meta charset="UTF-8">
    <title>Generative AI For Games</title>
    <style>

        body {
            font-family: sans-serif;
        }

        a {
            font-weight: normal;
            font-size: 20px;
            color: black;
            text-decoration: none;
            padding: 10px;
            margin: 11px;
            display: block;
            border: 1px solid black;
            border-radius: 5px;
        }

    </style>
</head>
<body>
<!--    Link to /text_generation, /text_to_image, /game -->

<h1>Generative AI For Games</h1>
<a href="/text_generation">Text Generation Demo</a>
<a href="/text_to_image">Text To Image Demo</a>
<a href="/game">Role Playing Game</a>

</body>
</html>
